H2 {
	font-size:50px;
	text-align:center;
	color:#150D99;
	font-family:Segoe Ui Black;
}
H1 {
	font-size:45px;
	text-align:center;
	color:#150D99;
	font-family:Segoe Ui Black;
}
P {
	font-size:25px;
	text-align:justify;
	color:#2191FF;
	margin-right:100px;
	margin-left:100px;
	font-family:Segoe Ui Black;
}
H3 {
	font-size:20px;
	text-align:justify;
	color:#2191FF;
	font-family:Segoe Ui Black;